:root {
	--blue: #005ea0;
	--white: #fff
}

body {
	box-sizing: border-box;
	overflow-x: hidden;
	font: 400 16px Tahoma;
	background-color: #f0f0f0;
	color: rgba(0 0 0 / 87%);
	line-height: 1.5
}

h1,
a,
button.flyingLink {
	color: var(--blue)
}

.mx-auto {
	margin-left: auto;
	margin-right: auto;
}

header {
	max-width: 468px;
	padding: 3rem 2rem;
	text-align: center
}

h1 {
	text-transform: uppercase;
	font-size: clamp(2rem, 2.6rem, 8vw);
	margin: 0 auto 15px;
	line-height: 1.2
}

#description,
#news strong {
	font-size: 1.15rem
}

#news small {
	font-size: .9rem
}

body,
ul,
figure {
	margin: 0
}

main,
figure,
span {
	display: block
}

#news {
	padding: 0 1.5rem;
	width: calc(100vw - 3rem);
	max-width: 800px;
	margin: 0 auto
}

article {
	margin-bottom: 1.5rem
}

a,
button {
	cursor: pointer;
}

a:not(:hover) {
	text-decoration: none
}

img {
	width: 100%;
	height: auto
}

.description {
	margin-top: 2px
}

.service {
	margin-top: 2px;
	color: rgba(0 0 0 / 60%)
}

main {
	margin-bottom: 2rem
}

.grid {
	display: grid
}

.self-center {
	align-self: center
}

.no-underline {
	text-decoration: none
}

.w-48 {
	width: 48px
}

.h-48 {
	height: 48px
}

.flyingLink {
	position: absolute;
	font-size: 1.4rem;
	text-transform: uppercase;
	text-align: center
}

#changeLanguage {
	top: 0;
	right: 10px
}

#resetSearch {
	top: 0;
	right: 58px
}

#resetSearch,
#search button {
	border: 0;
	background-color: transparent
}

#pageControls {
	margin-top: 1rem
}

@media screen and (min-width: 345px) {
	#pageControls {
		grid-template-columns: 48px 1fr 48px;
		gap: 10px;
		margin-top: 1rem;
		width: 296px
	}
}

@media screen and (max-width: 345px) {
	.pageLinkContent {
		display: none
	}
}

.pageLinks svg {
	fill:rgba(0 0 0 / 60%)
}

h1,
strong,
.bold {
	font-weight: 700
}

#search {
	position: relative;
	width: 200px
}

#search input {
	padding: 5px 48px 5px 10px;
	width: 100%
}

#search button {
	position: absolute;
	top: 0;
	right: 0
}

#search svg {
	fill:rgba(0 0 0 / 60%);
}